

.Cart_main{
  padding: 10px;
  margin: 50px 10%;
}
.cart{
  font-weight: bold
}
.cartImage {
  min-width: auto;
  max-width: 300px;
  max-height: 100px;
  margin: 0 auto;
  padding: 5px;
}

.priceFontWeight{
  font-weight: bold
}
.cart_container{  
  margin: 5px 0;
  position: relative;
  background: white;
}
.cart_container:hover{
  box-shadow: 0 0 1px 2px rgba(64, 64, 87, .2);
  transform: translateY(-1px);
  /* z-index: 1; */
}
.flexRight {
  flex: 1;
}
.flexLeft {
  flex: 3;
  margin-top: 20px;
  position: relative;
}
.location_price {
  width: 100%;
  position: absolute;
  bottom: 10px;
  justify-content: center
}
.location_price>* {
  flex: 1;
}
.cartOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  opacity: 0;
}
.cartOverlay:hover {
  opacity: 1;
}
.cartTrash{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
  font-size: 20px
}