
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:rgba(49, 49, 71, .1);
}
  .Advertisment, .loadNew, .newsFeed, .Chart, .Assets, .Unknown{
  background-color: white;
}
.Profile, .Menu{
  background-color: rgb(49, 49, 71);
}
/* Margin for all the areas */
.Advertisment, .Assets{
  margin: 0
}
 .Searchbar, .loadNew, .newsFeed{
  margin: 0 10%
}
.dashboard_Container {
  background: red
}
.sub_dashboard_Container{
  display: grid; 
  margin: 0 auto;
  width: 80%;
  float: right;
  grid-gap: 10%;
  height: fit-content;
  position: relative;
  background: yellowgreen
}
.search_loadNew_newsFeed{
  display: grid; 
  grid-gap: 10%;
}
.shop_advert {
  height: 150px
}
.Profile {
  width: 20%;
  position: fixed;
  height: fit-content;
  top: 60px;
  height: 90vh;
  overflow-y: scroll;
}
.Advertisment { 
  width: 100%;
  flex: 2;
  border-right: 1px dashed rgb(49, 49, 71);
}
.Assets {
  flex: 1
}
.Menu {
  z-index: 5;
  height: 60px;
  position: relative; 
}

.Searchbar {
  height: 70px;
}
.loadNew {
  height: fit-content;
  width: 80%;
}
.newsFeed {
  height: fit-content
}

