
body {
  margin: 0;
  padding: 0;
  background-color:rgba(49, 49, 71, .1);
}
.Advertisment, .loadNew, .newsFeed, .Chart, .Assets, .Profile{
  background-color: white;
}
 .Menu{
  background-color: rgb(49, 49, 71);
}
/* Margin for all the areas */
.Advertisment, .Assets{
  margin: 0
}
 .Searchbar, .loadNew, .newsFeed{
  margin: 0 15%
}



/* Containers */
.dashboard_Container {
}
.Menu {
  z-index: 5;
  height: 60px;
  position: relative; 
}
.Profile {
  width: 20%;
  position: fixed;
  height: fit-content;
  top: 60px;
  height: 90vh;
  overflow-y: scroll;
}
.sub_dashboard_Container{
  margin: 0 auto;
  width: 80%;
  float: right;
  height: fit-content;
}
.displayedUpMenu {
  margin-top: 50px 
}
      .shop_advert {
        height: fit-content;
        margin-bottom: 5% 
      }
      .search_loadNew_newsFeed>div{
        margin-bottom: 5% ;
        grid-gap: 10%;
      }

.Advertisment { 
  width: 100%;
  flex: 3;
  border-right: 10px solid rgba(49, 49, 71, .1);
}
.Assets {
  flex: 1
}

.Searchbar {
  height: 50px;
}
.loadNew {
  height: fit-content;
}
.newsFeed {
  height: fit-content
}

.FullProfile {
  width: 100%;
  height: fit-content;
  background: white;
  position: absolute;
}