

@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=3d-float);
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Oswald|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Felipa');

a {
  text-decoration: none
}
body {
  margin: 0;
}
p, h1, input {
  margin: 0;
  padding: 0
}
.G_middle {
  justify-content: center;
  align-items: center
} 
.G_container {
  height: 100vh;
  width: 100vw;
  display: grid;
}
.G_flex {
  display: flex;
}
.G_padContainer {
  padding: 20px 
}
.G_Position {
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.G_roundContainer {
  height: 100%;
  width: 100%;
}

/* Text */
.G_centerTx {
  text-align: center;
}
.G_smallestFont {
  font-size: 14px;
}
.G_tooSmallFont {
  font-size: 12px;
}
.G_tooSmallerFont {
  font-size: 10px;
}
.G_smallerFont {
  font-size: 16px;
}
.G_subHeaderFont {
  font-size: 18px
}
.G_biggestFont {
  font-size: 30px
}
.G_textLineHeight {
  line-height: 1.6rem
}
.G_SubHeaderLineHeight {
  line-height: 3rem
}
.G_offCol {
  color:  rgb(96, 209, 96);
}
.G_SmallerFontStyle{
  font-family: 'Lora', serif;
}
.G_subHeaderFontStyle{
  font-family: 'Staatliches', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Bree Serif', serif;
}

/* Buuton */
.G_Btn {
  border: 0;
  padding: 5px 8px;
  background-color: rgb(49, 49, 71);
  /* background-color: rgba(49, 49, 71, .8); */
  color: #e3e5ea;
  border-radius: 5px;
  /* margin: 10px 0; */
  opacity: .8;
}
.G_Btn:hover {
  /* background-color: rgb(49, 49, 71); */
  opacity: 1;
}
.G_bigBtn {
  font-size: 20px
}
.G_longBtn {
  padding: 10px 0;
  width: 100%;
}
.G_smallBtn {
  font-size: 16px
}

/* color */
.G_dkBck {
  background-color: rgb(49, 49, 71);
}
.G_lgtBck {
  background-color: #f7f7f8;
}
.G_lgterBck {
  background-color: rgb(64, 64, 87);
}
.G_BCol {
  color: rgba(49, 49, 71, .8);
}
.G_dBCol {
  color: rgb(49, 49, 71);
}
.G_WCol {
  color: #e3e5ea;
}

/* border */
.G_smBoda{
  border-radius: 2px;
}
.G_bigBoda{
  border-radius: 5px;
}

/* Logo */
.G_logoDiv {
  box-shadow: 10px 10px 8px -2px black;
  transform: rotate(45deg);
  position: fixed;
}
.G_largeLogo {
  height: 30vh ;
  width: 30vh ;
}
.G_smallLogo {
  height: 20vh ;
  width: 20vh ;
}
.G_smallLesLogo {
  height: 10vh ;
  width: 10vh ;
}
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara|ZCOOL+QingKe+HuangYou');
.G_logoIcon {
  color: #e3e5ea;
  transform: rotate(-45deg);
  padding: 0 0 0 0px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-family: 'Hind Vadodara', sans-serif;
}

/* Menu */
.G_Menu {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  bottom: 0;
  box-shadow: 0px 10px 8px -8px rgba(49, 49, 71, .5);
  background-color: rgb(49, 49, 71);
}
.G_Menu a{
  color: #e3e5ea;
}
.G_Menu li{
  list-style-type: none;
  margin: 0 10px;
}
.G_Menu li a{
  padding: 5px;
  color: #e3e5ea;
  border-radius: 5px
}
.G_appName{
  padding: 5px;
}
.G_Menu ul{
  display: inline-flex;
}