

@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple);
@import url(https://fonts.googleapis.com/css?family=Rancho&effect=3d-float);
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Oswald|Staatliches');
@import url('https://fonts.googleapis.com/css?family=Felipa');

a {
  text-decoration: none
}
body {
  margin: 0;
}
p, h1, input {
  margin: 0;
  padding: 0
}
.G_middle {
  justify-content: center;
  align-items: center
} 
.G_container {
  height: 100vh;
  width: 100vw;
  display: grid;
}
.G_flex {
  display: flex;
}
.G_padContainer {
  padding: 20px 
}

/* Text */
.G_centerTx {
  text-align: center;
}
.G_smallestFont {
  font-size: 14px;
}
.G_smallerFont {
  font-size: 17px;
}
.G_subHeaderFont {
  font-size: 20px
}
.G_biggestFont {
  font-size: 30px
}
.G_textLineHeight {
  line-height: 1.6rem
}
.G_SubHeaderLineHeight {
  line-height: 3rem
}
.G_DngerText {
  /* color: rgb(173, 2, 2) */
}
.G_SmallerFontStyle{
  font-family: 'Lora', serif;
}
.G_subHeaderFontStyle{
  font-family: 'Staatliches', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Bree Serif', serif;
}

/* Buuton */
.G_Btn {
  border: 0;
  padding: 7px 10px;
  background-color: rgb(49, 49, 71);
  color: #e3e5ea;
  border-radius: 5px;
  margin: 10px 0;
  opacity: .8;
}
.G_Btn:hover {
  opacity: 1;
}
.G_bigBtn {
  font-size: 20px
}
.G_longBtn {
  padding: 10px 0;
  width: 100%;
}
.G_smallBtn {
  font-size: 16px
}


/* Logo */
.G_logoDiv {
  box-shadow: 10px 10px 8px -2px black;
  transform: rotate(45deg);
  position: fixed;
}
.G_largeLogo {
  height: 30vh ;
  width: 30vh ;
}
.G_smallLogo {
  height: 20vh ;
  width: 20vh ;
}
.G_smallLesLogo {
  height: 10vh ;
  width: 10vh ;
}
.G_logoIcon {
  color: #e3e5ea;
  transform: rotate(-45deg);
  /* font-size: 150px; */
  padding: 0 0 0 0px
}

/* Menu */
.G_Menu {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  bottom: 0;
  box-shadow: 0px 10px 8px -8px rgba(49, 49, 71, .5);
  background-color: rgb(49, 49, 71);
}
.G_Menu a{
  color: #e3e5ea;
}
.G_Menu li{
  list-style-type: none;
  margin: 0 10px;
}
.G_Menu li a{
  padding: 5px;
  color: #e3e5ea;
  border-radius: 5px
}
.G_appName{
  padding: 5px;
}
.G_Menu ul{
  display: inline-flex;
}