.icons {
  display: flex;
  justify-content: space-around;
  margin: 0 35%;
  font-size: 20px
}
.icons span:nth-child(1){
  color: rgb(2, 92, 2);
  opacity: .8
}
.icons span:nth-child(2){
  color: rgb(1, 1, 105);
  opacity: .8
}
.icons span:nth-child(3){
  color: rgb(90, 90, 240);
  opacity: .8
}
.icons span:nth-child(1):hover, .icons span:nth-child(2):hover, .icons span:nth-child(3):hover{
  opacity: 1;
}