
.Landing_container {
  text-align: center;
  background-color: #f7f7f8;
  grid-template-rows: 90vh 10vh;
}
.LIconPosition {
  top: 25% ;
  left:  15% ;
  font-size: 80px;
}
.header {
  z-index: 2;
}
.description {
  margin: 0% 5% 10% 5%;
}
.on {
  font-family: 'Felipa', cursive;
}
.name {
  font-size: 50px;
  color: black;
  padding: 15px
}

.bButton:hover {
  opacity: 1;
  color: #e3e5eae1;
}

