

@media only screen and (max-width: 1011px) {
  /* Its a static case coming from IconHeader directly */
  .G_logoIcon {
    font-size: 60px !important;
  }
  .M_formSize {
    width: 70vw !important;
  }
  .In_Up_iconPosition{
    top: 7% !important;
    left: 4%	!important;
  }
  .M_smallLogo {
    height: 10vh !important;
    width: 10vh !important;
  }
  /* Laning */
  .LIconPosition {
    margin: 10% auto  !important;
    left: 0 !important;
    right: 0 !important;
    top: 0px !important;
  }
  .M_L_largeLogo {
    height: 20vh !important;
    width: 20vh !important;
  }
  .L_description {
    margin: 20% 0% 10% 0% !important;
    /* font-size:  */
  }
}
@media only screen and (max-width: 600px) {
  /* Its a static case coming from IconHeader directly */
  .G_logoIcon {
    font-size: 40px !important;
  }
  .M_formSize {
    width: 90vw !important;
    margin-top: 25px
  }

  /* Landing */
  .M_smallBtn {
    font-size: 14px !important
  }
  .M_L_description {
    margin: 30% 2% 0% 2% !important
  }
  /* Handling landing and signUp font */
  .M_subHeaderFont {
    font-size: 16px !important
  }
  /* Handling landing and signUp font */
  .M_smallerFont {
    font-size: 14px !important;
  }
  /* COming fron signIn */
 .M_grid {
   display: grid !important;
   margin: 15% 0 10% 0  !important
 }
  /* COming fron signIn */
 .M_info {
  width: 100% !important;
  order: 2;
}
/* COming fron signIn */
.M_SignInForm_container {
  width: 100% !important;
  order: 1;
}
}