

@media only screen and (max-width: 1011px) {
  /* Its a static case coming from IconHeader directly */
  .G_logoIcon {
    font-size: 300% !important;
  }
  .M_formSize {
    width: 70vw !important;
  }
  .Sup_iconPosition{
    top: 3.5% !important;
    left: 8%	!important;
  }
  .M_smallLogo {
    height: 10vh !important;
    width: 10vh !important;
  }

  /* Laning */
  .LIconPosition {
    margin: 10% auto  !important;
    left: 0 !important;
    right: 0 !important;
    top: 0px !important;
  }
  .M_L_largeLogo {
    height: 20vh !important;
    width: 20vh !important;
  }
  .L_description {
    margin: 20% 0% 10% 0% !important;
    font-size: 
  }
}
@media only screen and (max-width: 600px) {
  /* Its a static case coming from IconHeader directly */
  .G_logoIcon {
    font-size: 200% !important;
  }
  .M_formSize {
    width: 90vw !important;
  }

  /* Landing */
  .M_smallBtn {
    font-size: 12px
  }
  /* Handling landing and signUp font */
  .M_subHeaderFont {
    font-size: 14px !important
  }
  /* Handling landing and signUp font */
  .M_smallerFont {
    font-size: 12px !important;
  }
  /* COming fron signIn */
 .M_flex {
   display: grid !important;
   margin: 15% 0 10% 0  !important
 }
  /* COming fron signIn */
 .M_info {
  width: 100% !important;
  order: 2;
}
/* COming fron signIn */
.M_SignInForm_container {
  width: 100% !important;
  order: 1;
}
}