
.create_sign_account {
  margin: 0 0 0 20% ;
  justify-self: flex-end;
  
}
.listItems li a {
  display: flex;
  align-content: center
}
.listItems li a span{
  padding: 0px 3px;
  display: flex;
  align-content: center
}
.oneMenu{
  background-color: rgb(96, 209, 96);
  color:  rgb(49, 49, 71) !important;
  padding:  3px;
  border-radius: 2px;
}
.ul {
  width: 100%
}