

.NewsFeed {
}

.NewsFeed_Container {
  padding: 2% 5%;
  position: relative;
  /* height: fit-content; */
  display: grid;
  grid-gap: 10px;
  border-bottom: 5px solid  rgba(49, 49, 71, .1);
}
.NewsFeed_ProfileAnchor {
  position: relative;
  align-items: center;
}
.NewsFeed_ProfileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.name_Date {
  margin-left: 10px;
}
.name_Date p{
  font-weight: bold
}
.name_Date span{
  opacity: .5;
  font-size: 12px
}
.dropDownIcon {
  padding: 10Px;
  margin-left:  auto;
}
.dropDown {
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px  2px 0 rgba(49, 49, 71, .5);
  position: absolute;
  right: -135px;
  border-radius: 5px;
}
.dropDown ul{
  padding: 0;
  width: max-content;
}
.dropDown li{
  list-style: none;
  padding: 5px 15px;
}
.dropDown li:hover{
  background-color: #ededf6;
}
.NewsFeed_Images {
  width: 100%;
  height: 100%;
  position: relative;
}
.NewsFeed_Image {
  min-height: 400px;
  max-height: 400px;
  width: auto;
  margin: 0 auto 
}
.soldUnsold {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
  background-color: red
}
.NewsFeed_Linkings {
  justify-content: space-evenly;
  border-top: 1px solid  rgba(49, 49, 71, .1);
}
.NewsFeed_Linkings div{
  padding: 10px ;
  opacity: .8;
}
.NewsFeed_Linkings div:hover{
  opacity: 1;
}
