

.ProductsCategories_main {
  padding: 10px;
}
.products {
  border-bottom: 1px solid  rgba(64, 64, 87, .3);
  font-weight: bold;
  display: block
}
.ProductsCategories_container {
  margin:  0;
  padding: 0 2px
}
.ProductsCategories_container li{
  list-style-type: none;
  padding: 2px 5px;
  font-weight: bold
}
.ProductsCategories_container li:hover{
  background-color: rgba(64, 64, 87, .1);
  padding: 5px 5px;
}
.ProductsCategories_container li span{
  color:  rgb(96, 209, 96);
}