

.ProductsCategories_main {
  padding: 10px;
}
.products {
  border-bottom: 1px solid  rgb(64, 64, 87);
  font-weight: bold;
  display: block
}
.products_container {
  margin:  0;
  padding: 0 15px
}
.products_container li{
  /* list-style-type: none; */
  padding: 2px 0px
}
.products_container:hover{ 
  background-color: rgb(64, 64, 87);
}
.products_container li span{
  color:  rgb(96, 209, 96);
}