
.profile_container {
  position: relative;
}
.profileDiv{
  padding:  15px;
  display: grid; 
  height: fit-content;
}
.ImgDiv {
  height: 100px;
  width: 100%;
  left: 0;
  right: 0;
  position: relative;
}
.img {
  border-radius: 50%;
  height: 100px;
  background-color:rgb(49, 49, 71);
  width: 100px;
  position: absolute;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  opacity: 0;
  background-color:  rgba(49, 49, 71, .5);

}
.overlay:hover {
  opacity: 1;
}
.profileImage {
  position: absolute;
  color: #e3e5ea;
  padding: 0;
  margin:  auto auto;
  width: 15px;
  height: 15px;

}
.ImgDiv img{
  max-width: 100%; 
  height: auto;
  display:block; 
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  border: 3px solid  rgb(49, 49, 71);
}

.seller_BuyerDiv {
  position: absolute;
  right: 0;
  left: 110px;
  display: grid;
  grid-gap: 5px;
}
.seller_BuyerDiv *{
  margin: 3px 0;
}
.seller_Buyer {
  color:  rgb(96, 209, 96);
  padding: 2px 5px;
  margin: 0 3px 0 0;
}
.nationality h3{
  padding: 0;
  margin: 0;
}
.nationality {
  grid-gap: 5px
}

.profile_Name {
  width: 100%;
  height: 40px;
  font-weight: bold;
  box-sizing: border-box;
  word-wrap: break-word;
}
.profile_Name a{
  /* color: black; */
}
.p_font {
  font-size: 10px
}
.p_bigFont {
  font-size: 11px
}
.profieIconSize {
  font-size: 12px
}

.data {
  width: 100%;
  grid-gap: 5px;
  font-size: 12px;
  display: grid;
}
.commentaries {
  flex: 2;
  flex-wrap: wrap;
  grid-gap: 5px;
}
.eachData {
  width: fit-content;
  background-color: #f7f7f8;
  padding: 3px 5px
}
.eachData span{
  padding-left: 5px
}
.footer {
  align-self: flex-end;
}
.location {
  grid-gap: 10px;
  justify-content: flex-start;
  margin: 10px 0;
  padding: 3px;
  border-bottom: 1px solid rgba(49, 49, 71, .3);
}
.location h3 , .locatio span{
  padding: 0;
  margin: 0;
}
.socialMedia {
  display: flex;
  grid-gap: 5px;
  justify-content: flex-start;
}