.SearchBar_Container {
}
.SearchInput_Container {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border-radius: 25px ;
  background-color:#f7f7f8;
  border: 1px solid rgba(49, 49, 71, .2);
}
.SearchInput_Container:hover {
  box-shadow: 0px 1px  6px 0 rgba(49, 49, 71, .5)
}
#boxShadow{
  box-shadow: 0px 1px  6px 0 rgba(49, 49, 71, .5)
}
.SearchInput_Container .input {
  padding: 6px;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 25px 0 0 25px;
  box-sizing: border-box;
}
.navLinkIcon{
  border-radius: 0 25px 25px 0;
  width: 10%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  color:  rgb(49, 49, 71);
}