
.formSize {
  height: max-content;
  width: 50vw;
  background-color: #f7f7f8;
  box-shadow: 0px 10px 8px -8px rgb(49, 49, 71);
  box-sizing: border-box;
}
.SignUpForm_container {
  padding: 2% 5%;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(49, 49, 71);
  background-color: transparent;
  border-radius: 5px;
  padding: 0 0 0 5px ;
  box-sizing: border-box;
}
.btnDiv *{
  margin: 0 10px
}
.In_Up_iconPosition{
  top: 10%;
  left: 4%;
  right: 0%;
  font-size: 25px ;
  z-index: 2;
}

.checkBox {
  margin: 15px auto;
}
.test{
  margin: 15px auto;
}
