
.SI_formSize{
  height: max-content;
  width: 60vw;
  background-color: #f7f7f8;
  box-shadow: 0px 10px 8px -8px rgb(49, 49, 71);
  box-sizing: border-box;
  grid-gap: 1.5%;
  align-self: flex-end;
}
.SignInForm_container {
  width: 60%;
}
.info {
  background: url('../image/macketWorld.png') no-repeat;
  background-size: contain;
  background-color: rgba(49, 49, 71, .9);
  background-position: center;
  width: 37%;	
  color: #e3e5ea;
  display: grid;;
}
.info h1{
  align-self: flex-end;
  margin: 0 10px
}
.info ul {
  align-self: flex-start;
}
.checkBox {
  width: 0;
}
.forgotPasswordDiv {
  background-color: rgba(49, 49, 71, .03);
  padding:0 15px;
  justify-content: space-between
}
.forgotPassword {
  padding-top: 16px ;
  float: right;
}
.In_Up_iconPosition{
  top: 10%;
  left: 4%;
  right: 0%;
  font-size: 30px ;
  z-index: 2;
}
.FooterPosition {
  align-self: center;
}
.btn {
  margin: 20px 0  0 0
}